#network-graph {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc; /* Added a border for visibility */
    transform-origin: center center;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 0px;
    fill-opacity: 0.7;
}

.node.selected {
    fill: red;
}

.links line {
    stroke: #bebebeb1;
    stroke-opacity: 0.15;
    stroke-width: 1px; /* Changed from percentage to px */
}

.number-box {
    width: 30px;
    height: 30px;
    visibility: visible !important;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #3a3939;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.number-box.highlighted {
    background-color: yellow;
    border: 2px solid black;
}

.number-box.selected {
    background-color: red;
}

#number-grid {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.noUi-horizontal {
    align-items: center;
    height: 10px;
    width: 80%;
    margin: 5px auto; /* Combined margin */
    background-color: #ffffff;
    border-radius: 0px;
}

.noUi-handle::before,
.noUi-handle::after {
    display: none;
}

.noUi-horizontal .noUi-handle {
    top: -10px;
    width: 30px;
    height: 30px;
}

.noUi-handle {
    box-shadow: none;
    background-color: #ffffff;
    border-radius: 0%;
    border: 0.5px solid #c5c5c5;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.noUi-connect {
    background: #f4ce65;
    border: none;
}

.noUi-target {
    background: #ffffff;
    border: none;
}

#node-size-slider {
    width: 200px;
    height: 10px;
    margin: 15px 5% 10px 1%;
    background-color: #f4ce65;
}

#graph-size-slider .noUi-handle {
    background: #ffffff;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 0%;
}

#graph-size-slider {
    width: 10px;
    height: 10px;
    margin: 15px 5% 10px 1%;
    background-color: #f4ce65;
}

#layout-dropdown {
    width: 125px;
    height: 25px;
    margin: 4px;
    padding: 4px;
    font-family: Arial, sans-serif;
    color: #444343;
    font-size: 12px;
    border-radius: 0px;
    border: 0.5px solid #e7e6e6;
    appearance: menulist-button;
    background: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px;
}

#node-size-factor,
#edge-length-factor {
    width: 35px;
    height: 15px;
    margin: 4px;
    padding: 4px;
    font-family: Arial, sans-serif;
    color: #3a3939;
    font-size: 12px;
    border-radius: 0px;
    border: 1px solid #b2b0b0;
}

label {
    margin: 4px;
    padding: 4px;
    font-family: Arial, sans-serif;
    color: #3a3939;
    font-size: 12px;
    font-weight: bold;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 10px;
}

.slider {
    width: 70%;
}

#node-size-slider {
    width: 30%;
    margin: 0;
}
